<div class="row">
  <div class="col-md-8">
    <leaflet width="840px" height="600px" markers="markers" layers="layers"></leaflet>
  </div>
  <div class="col-md-4" ui-view>
  </div>
</div>
<div class="row">
    <p>{{markers}}</p>
    <p>{{tweets}}</p>
  <table>
    <tr>
      <th>text</th><th>lat</th><th>long</th>
    </tr>
    <tr ng-repeat="tweet in tweets">
      <td>{{tweet.text}}</td><td>{{tweet.lat}}</td><td>{{tweet.long}}</td>
    </tr>
  </table>    
</div>

<div class="footer">
  <p>TripViz for Global Perspectives</p>
</div>